/* body {
    background: url(http://sf.co.ua/12/08/wallpaper-2177610.jpg);
} */

.form-group h1 {
    margin-top: 50px;
    margin-bottom: 30px;
    padding: 30px 0 30px 0;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: rgb(95, 94, 94);
    text-shadow: 2px 2px white;
}

.form-control {
    border: 1px solid rgb(95, 94, 94);
}

input::placeholder {
    font-family: Arial, Helvetica, sans-serif;
}

#submit {
    font-family: 'Julius Sans One', sans-serif;
    font-weight: bold;
    font-size: 20px;
    background-color: rgb(143, 141, 141);
    color: white;
    border: none;
    margin-bottom: 20px;
}

#submit:hover {
    background-color: rgb(250, 85, 85);
}

a {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 25px;
    float: right;
    margin-top: 10px;
    color: rgb(161, 29, 29);
    text-shadow: 2px 2px gold;
}

.hero {
    background-color: white;
    color: rgb(95, 94, 94);
    border: 1px solid rgb(95, 94, 94);
    font-family: 'Julius Sans One', sans-serif;
    font-size: 19px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.hero:hover {
    background-color: rgb(224, 185, 185);
    border: 1px solid white;
}

#buttons {
    margin: 0 0 20px 0;
}

img {
    width: 270px;
    height: 200px;
    font-weight: bold;
    border: 2px solid rgb(95, 94, 94);   
    margin-top: 20px;
}